body{
    background-image: url(https://lh3.googleusercontent.com/proxy/_-t89NiyvQjyV4H-cWvwQsRNVHxdRrzrZHe-uWqGz3paSMXqh5N8AOFAxvjfTsnVzh_GL2wpkk_wNkG1e41M-3FpoE1hIU9CNUwn0_B9i4Rn9NfeyJsbsIzv9-Jg7KPUVyCf_-K6FnHhS-0Y41xm59npz5UXiafH6nQA0Gg6);
    background-color: black;
}
section{
    margin-left: 100 px ;
    margin-top: 100 px ;
  text-align: start;
}